body {
    text-align: center;
}

.bodyContainer {
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 8px 3px 0 3px;
    min-width: 240px;
    max-width: 600px;
    display: inline-block;
}

.cell {
    border: 1px solid black;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.row {
    margin: -8px 0 -8px 0;
}

.resetDiv {
    margin-top: 20px;
    min-width: 240px;
    max-width: 600px;
    display: inline-block;
}

.resetButton {
    height: 30px;
    width: 60px;
    background-color: black;
    border: silver 2px;
    color: white;
    font-size: 1em;
}